body {
    color: #888888;
    font-family: Monospace,sans-serif;
    font-size:13px;
    background-color: #000;
    margin: 0;
}
a { color: #00f; }
h5 { margin-top: 10px; }
#buffer-primitive { display: none; }
#button-start { margin-top: 10px; }
#button-apply-settings { margin: 10px 0; }
p { text-align: justify; }
#wrapper-shape-type { margin-top: 5px; }
